<div id='localtime' class='localtime' data-timezone={{ siteTimezone }}>
    <span class="loadingPiwik" style="display:inline"><img src="plugins/Morpheus/images/loading-blue.gif" /> Loading...</span>
    <div id="siteTime">
        <p id="siteTimestamp" class="timestamp"></p>
    </div>
    <div id="userTime" style="display: none;">
        <p id="userTimestamp" class="timestamp"></p>
    </div>
</div>